@model FeedBackApp.Models.Feedback
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

<hr />

@using (Html.BeginForm())
{
<div class="form-horizontal">

    <h4>Products</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(x => x.Faculty, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Faculty, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Faculty, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Module, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Module, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Module, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Rating, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Rating, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Rating, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Insert" class="btn btn-default" />
        </div>
    </div>
</div>}